services:
  sftp-server:
    environment:
      SFTP_PASSWORD: ""
      MOCK_MODE: ""
    volumes:
      - ./files/sshd_config:/etc/ssh/sshd_config
      - ./files/docker-entrypoint.sh:/docker-entrypoint.sh
      - ./files/cronjob:/etc/cron.d/cronjob
      - ./files/purge_files.sh:/purge_files.sh
